<!-- header-section start-->
<%include('_header',{user}) %>
    <!--header-section endregister-section start-->
    <%- include( '_signup',{user,registrationError}) %>
        <!--register-section end-->
        <!-- login-section start -->

        <%- include('_login',{user}) %>
            <!-- login-section end -->


            </div>
            </div>
            </div>
            </section>
            <%- include('_footer',{user}) %> -->